* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --back:#5433FF;
    --gradient1: #5433FF;
    --gradient2: #A5FECB;
}
section {
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-image: url(../img/fond.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
article {
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
    width: 300px;
    height: 450px;
    overflow: hidden;
}
.borderGrad {
    width: 244px;
    height: 34px;
    padding: 2px;
    margin:20px auto;
    border-radius: 17px;
    background: var(--back);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--gradient1), var(--gradient2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--gradient1), var(--gradient2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
}
.btnSlide {
    position: relative;
    width:240px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
  
}
.btnSlide:hover {
    cursor: pointer;
}
.btn {
    position: absolute;
    width: 50%;
    height:30px;
    border-radius: 15px;
    left:0;
    transition: linear 1s;
    background: var(--back);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--gradient1), var(--gradient2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--gradient1), var(--gradient2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
}
.login {
    position: absolute;
    width: 50%;
    height:30px;
    display: flex;
    left:0;
    color:white;
    justify-content: center;
    transition: linear 1s;
    align-items: center;
}
.inscr {
    position: absolute;
    transition: linear 1s;
    width: 50%;
    height:30px;
    display: flex;
    right:0;
    justify-content: center;
    align-items: center;
}
.form1 {
    width:300px;
    height:250px;
    position: absolute;
    left:-300px;
    bottom: 50px;
    padding: 0 30px;
/*    background-color: chartreuse;*/
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: linear 1s;
}
.form2 {
    width:300px;
    height:250px;
    position: absolute;
    left:0px;
    bottom: 50px;
    padding: 0 30px;
/*    background-color: red;*/
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    transition: linear 1s;
}
.spBet {
    display: flex;
    width:70%;
    justify-content: space-between;
}
input[type=text] {
    width:80%;
    height: 40px;
    padding:10px;
    border:none;
    border-bottom:solid gray 1px;
}
input[type=submit] {
    width:60%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-self: center;
    background: var(--back);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--gradient1), var(--gradient2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--gradient1), var(--gradient2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white
}
input[type=submit]:hover {
    cursor: pointer;
    opacity: 0.8;
}
.zoziaux {
    margin: 30px auto;
    width: 244px;
    height: 34px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.zoziaux>* {
    border-radius: 50%;
    background: var(--back);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--gradient1), var(--gradient2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--gradient1), var(--gradient2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    font-size: 23px;
    height: 30px;
    width:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}